
.body{
  display: grid;
  grid-template-columns: 500px 1fr 1fr;

  grid-template-areas: 
    "header header header"
    "none main aside";
  height: 100vh;
  background-color: #f0f0f0;
}
.header{
  grid-area:header;
  text-align: center;
  padding: 20px;
}
.main{
  
 grid-area:main;
  height: 100vh;
  background-color: #f0f0f0;
}

.aside{
  grid-area:aside;
  border: solid 1px aquamarine;
}